.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 5vh;
  box-sizing: border-box;
}

.container app-survey-table {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


